<!DOCTYPE html>
<html>
    <head>
        <title>Contexto-Requisicao</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Avaliação Contínua: Aula 03</h1>

        <p>
            <strong>Seu navegador é: </strong> {{ user_agent }}
        </p>

        <p>
            <strong>O ip do computador remoto é: </strong> {{ addr_client }}
        </p>

        <p>
            <strong>O host da aplicação é: </strong> {{ host }}
        </p>

        <br>

        <a href="/">Voltar</a>
    </body>
</html>