<!DOCTYPE html>
<html>
    {% extends "base.html" %}
    {% import "bootstrap/wtf.html" as wtf %}

    {% block title %}Home{% endblock %}
    {% block head %}
        {{ super() }}
    {% endblock %}

    {% block navbar %}
        {{ super() }}
    {% endblock %}


    {% block page_content %}
        <h1>Olá, {% if name %}{{ name }}{% else %}Estranho!{% endif %}!</h1>
        {% if known %}<p>Feliz em vê-lo novamente!</p>{% else %}<p>Prazer em conhecê-lo!</p>{% endif %}
    {% endblock %}

    {% block content %}
        {{ super() }}
        <div class="container">
            {{ wtf.quick_form(form) }}
            <br>
            <h1>Relação de usuários cadastrados</h1>
            <h4>Quantidade: {{ users_quantidade }}</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nome do Usuário</th>
                        <th>Função</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in users_list %}
                    <tr>
                        <td>{{ item.username }}</td>
                        <td>{{ item.role.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <h1>Relação de funções cadastradas</h1>
            <h4>Quantidade: {{ roles_quantidade }}</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Funções</th>
                        <th>Usuários</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Administrator</td>
                        <td>
                            {% for item in users_role['administrator'] %}
                                <p>{{ loop.index }}. {{ item.username }}</p>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>Moderator</td>
                        <td>
                            {% for item in users_role['moderator'] %}
                                <p>{{ loop.index }}. {{ item.username }}</p>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>User</td>
                        <td>
                            {% for item in users_role['user'] %}
                                <p>{{ loop.index }}. {{ item.username }}</p>
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    {% endblock %}
    

</html>