<!DOCTYPE html>
<html>
    {% extends "base.html" %}
    {% import "bootstrap/wtf.html" as wtf %}

    {% block title %}Home{% endblock %}
    {% block head %}
        {{ super() }}
    {% endblock %}

    {% block navbar %}
        {{ super() }}
    {% endblock %}


    {% block page_content %}
        <h1>Olá, {% if name %}{{ name }}{% else %}Estranho!{% endif %}!</h1>
        {% if known %}<p>Feliz em vê-lo novamente!</p>{% else %}<p>Prazer em conhecê-lo!</p>{% endif %}
    {% endblock %}

    {% block content %}
        {{ super() }}
        <div class="container">
            {{ wtf.quick_form(form) }}
        </div>
    {% endblock %}
    

</html>