<!DOCTYPE html>
<html>
    {% extends "base.html" %}
    {% import "bootstrap/wtf.html" as wtf %}

    {% block title %}Home{% endblock %}
    {% block head %}
        {{ super() }}
    {% endblock %}

    {% block navbar %}
        {{ super() }}
    {% endblock %}


    {% block page_content %}
        <h1>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>
    {% endblock %}

    {% block content %}
        {{ super() }}
        <div class="container">
            {{ wtf.quick_form(form) }}
        </div>
    {% endblock %}

    {% block scripts %}
        {{ super() }}
    {% endblock %}

    

</html>