<!DOCTYPE html>
<html>
    {% extends "base.html" %}

    {% block title %}Contexto-Requisicao{% endblock %}
    {% block head %}
        {{ super() }}
    {% endblock %}

    {% block navbar %}
        {{ super() }}
    {% endblock %}

    {% block page_content %}
        <h1>Olá, {{ name }}!</h1>
    {% endblock %}

    {% block content %}
        {{ super() }}
        <div class="container">
            <h1>
                Seu navegador é: {{ user_agent }}
            </h1>

            <h1>
                O ip do computador remoto é:  {{ addr_client }}
            </h1>

            <h1>
                O host da aplicação é:  {{ host }}
            </h1>
    {% endblock %}
</html>